/*
Plugin Name: News Reader
Plugin URI: https://jayr42.sg-host.com/
Description: Retrieves latest articles from Google News given a search term via AJAX
Version: 1.0
Author: Jay Rosen
Author URI: https://jayrosen.design/
License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/

    body {
        background: #ececec;
    }

    .lds-dual-ring.hidden {
        display: none;
    }

    .overlay {
        position: absolute;
        top: 100px;
        left: 100px;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,.8);
        z-index: 999;
        opacity: 1;
        transition: all 0.5s;
    }
    

    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }
    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 5% auto;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

